<!DOCTYPE html>
<html lang="en">

<head>
  <title>Easy Car Rental Pvt(Ltd)</title>
  <meta charset="utf-8">
  <link rel="icon" href="../imgCar/Suzuki_4.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
        content="CarRental.com searches cheap car rental prices in over 53000 locations worldwide. Find your ideal car hire and book online today. Wide range of car options available – economy, luxury, family sized cars and more.">
  <meta name="author" content="Dilshan Rajika">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">
  <link href="../css/footer.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/fontawesome.css">
  <link rel="stylesheet" href="../css/Style.css">
  <link rel="stylesheet" href="../css/owl.css">
  <link rel="stylesheet" href="../css/modal.css">

</head>

<body id="page" >

<!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand"><h2>Rajika <em>Rental(Pvt)Ltd</em></h2></a>
      <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"  >
            <a class="nav-link" href="home.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="product.html">Car Gallery</a>
          </li>
          <li class="nav-item" id="menu">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  id="contactus" href="contact.html">Contact Us</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <section class="mt-5 Userfunction" >
    <div class="m-1 " >
      <a href="#" class="fa fa fa-user-plus text-light  filled-button"    id="profile" data-toggle="modal"
         data-target="#profile_Card" >
      </a>
    </div>
    <div class="m-1 ">
      <a href="#" class="fa fa fa-car text-light  filled-button "   id="booking" data-toggle="modal"
         data-target="#Order_Card" >
      </a>
    </div>
  </section>
  <section class="mt-1 Userfunction ">
    <div class="m-1">
      <a href="#" class="fa fa fa-sign-out text-light  filled-button "   id="logOut">
      </a>
    </div>
  </section>

</header>


<section class="content_page">

</section>
<div class="banner header-text">
  <div class="owl-banner owl-carousel" data-bs-ride="carousel">
    <div class="banner-item-01">
      <div class="text-content">
        <h4>Flash Deals</h4>
        <h2>Get your best products</h2>
        <video src="../video/service-video-bg-n.webm" loop autoplay muted></video>
      </div>
    </div>
    <!--       <div class="banner-item-02">
             <div class="text-content">
               <h4>Flash Deals</h4>
               <h2>Get your best products</h2>
             </div>
           </div>
           <div class="banner-item-03">
             <div class="text-content">
               <h4>Last Minute</h4>
               <h2>Grab last minute deals</h2>
             </div>
           </div>-->
  </div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Available  Ours Rental Cars </h2>
          <a href="product.html">view all rental cars <i class="fa fa-car"></i></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/Suzuki_1.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Suzuki Alto - Premium -Manual * 7</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/Suzuki_2.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Suzuki Alto K10 - Auto * 8</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/Suzuki_3.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Suzuki Celerio - Auto * 5</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/Suzuki_4.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Perodua (Daihatsu) Axia - Auto * 2</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/carImage_05.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Toyota Prius C/ Aqua - Auto * 8</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/carImage_06.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Toyota Corolla Axio/ NZE141
              * 4</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/carImage_07.png" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4 style="font-size: 10px">Perodua Bezza Prime Sedan - Auto(2017)*5</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/car%20(1).jpg" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Toyota Allion NZT 260 * 3</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/car%20(2).jpg" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Toyota Axio NKR 165 * 2</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/car%20(3).jpg" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Toyota Premio * 2</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <a href="product.html"><img src="../imgCar/car%20(4).jpg" alt=""></a>
          <div class="down-content">
            <a href="product.html"><h4>Mercedes * 2 BMW i8 * 2</h4></a>
            <h6>$15.25</h6>
            <div class="d-flex justify-content-between">
              <ul class="featured-list vehicledetails" >
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cupiditate dolore dolorem eveniet facilis fuga, in, magnam minus molestias quae quos, ratione totam veniam voluptatem? Beatae excepturi in laboriosam!</li>
                <li><i class="fa fa-taxi"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
                <li><i class="fa fa-users"></i>Toyota</li>
              </ul>

            </div>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2 class="text-capitalize "><i class="fa fa-users"></i>About Rajika Rental Car (Pvt)Ltd</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Get Valuable Service!</h4>
          <p><a rel="nofollow" href="#" target="_parent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores cum cupiditate eum explicabo</a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam commodi, consequatur corporis deleniti ducimus eaque enim esse expedita incidunt iusto labore molestiae obcaecati officia omnis pariatur porro quo.<a rel="nofollow" href="#">Contact us</a> for more info.</p>
          <ul class="featured-list">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur an adipisicing elit</a></li>
            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
            <li><a href="#">Corporis, omnis doloremque</a></li>
            <li><a href="#">Non cum id reprehenderit</a></li>
          </ul>
          <a href="about.html" class="filled-button">Read More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="../images/about.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->




<footer>
  <div class="column">
    <a class="footer_title">Rajika Car Rent Shop</a>
    <a href="home.html" class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore
      magna aliqua.</a>
    <a href="#" title="Facebook"><i class="fa fa-facebook "></i></a>
    <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" title="Whasapp"><i class="fa fa-whatsapp"></i></a>
    <a href="#" title="Twitter"><i class="fa fa-youtube"></i></a>
    <a href="#" title="Twitter"><i class="fa fa-google"></i></a>
  </div>
  <div class="column">
    <a class="footer_title">OTHER LINKS</a>
    <a href="about.html">Privacy Policy</a>
    <a href="about.html">Terms & Conditions</a>
    <a href="home.html">Ticket</a>
    <a href="tel:0766681528">Contact Us</a>
  </div>
  <div class="column">
    <a class="footer_title">SHORT CUT</a>
    <a href="">Our Services</a>
    <a href="">Our Blog</a>
    <a href="">Our Projects</a>
    <a href="">About Us</a>
  </div>
  <div class="column">
    <a class="footer_title">LATEST NEWS</a>
    <a href="home.html" title="Lorem ipsum dolor sit amet"><img src="../images/logo_one.png"></a>
    <a href="home.html" title="Lorem ipsum dolor sit amet"><img src="../images/logo_two.png"></a>
    <a href="home.html" title="Lorem ipsum dolor sit amet"><img src="../images/logo_three.png"></a>
    <a href="home.html" title="Lorem ipsum dolor sit amet"><img src="../images/logo_four.png"></a>

  </div>
  <div class="column">
    <a class="footer_title">GET IN TOUCH</a>
    <a title="Address" class="text-light"><i class="fa fa-map-marker text-info"></i> No/200,Galle Road,Panadura,Colombo</a>
    <a href="mailto:dilshanrajitha1998@gmail.com" title="Email"><i class="fa fa-envelope text-danger"></i> rajikarental@gmail
      .com</a>
    <a href="tel:0766681528" title="Contact"><i class="fa fa-phone text-success"></i> +(94)-766681528</a>
  </div>

  <div class="sub-footer">© CopyRights 2021 Rajika Rental_Shop || All rights reserved
  </div>
</footer>



<!----------------------------------------------Profile Modal----------------------------------------------------->
<div class="modal fade" id="profile_Card" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content " style="margin-top: 80px" >
      <div class="modal-header">
        <h5 class="modal-title text-light ModalUserName" >No Login User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body " id="profileModalBG">
        <form id="profileData">
          <img  class="rounded mx-auto d-block col-md-8 m-1"
                src="../imgCar/car%20(1).jpg"
                alt=" " id="profile_img">
          <div class="form-group">
            <div class="form-check">
              <abbr title="tick to edit if you want to update your details">
                <input class="form-check-input" type="checkbox" id="profileCheck" required>
                <label class="form-check-label fa fa-pencil" for="profileCheck">
                </label>
              </abbr>
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="nic"  readonly
                     name="pickup_locate" placeholder="your national identity number ">
              <small style="font-size: 10px;color: grey;margin: 0;padding: 0">if you want to change  NIC click tick
              </small>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="username" placeholder="your user name"
                     name="drop_locate">
              <small style="font-size: 10px;color: grey;margin: 0;padding: 0">if you want to change  UserName click tick
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="password" placeholder="your password "
                     name="pick_date">
              <small style="font-size: 10px;color: grey;margin: 0;padding: 0">if you want to change  password click tick </small>
            </div>
            <div class="form-group col-md-6">
              <input type="number" class="form-control" id="phoneNumber" placeholder="your phne number "
                     name="phoneNumber">
              <small style="font-size: 10px;color: grey;margin: 0;padding: 0">if you want to change  PhoneNo click tick
              </small>
            </div>
            <div class="form-group col-md-12">
              <input type="text" class="form-control" id="address" placeholder="your address"
                     name="pick_time">
              <small style="font-size: 10px;color: grey;margin: 0;padding: 0">if you want to change  password Address
                tick </small>
            </div>

            <div class="form-group col-md-12">
              <input type="email" class="form-control" id="email"
                     placeholder="enter your email"
                     name="email">
              <small style="font-size: 10px;color: grey;margin: 0;padding: 0">if you want to change  Email click tick
              </small>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="update_btn">Update</button>

      </div>
    </div>
  </div>
</div>
<!----------------------------------------------Order Modal----------------------------------------------------->
<div class="modal fade bd-example-modal-lg" id="Order_Card" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top: 85px">
            <div class="modal-header">
                <h5 class="modal-title text-light ModalUserName" >No Login User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered bookingTable ">
                            <thead>
                            <tr >
                                <th scope="col">No</th>
                                <th scope="col">Pick_Locate</th>
                                <th scope="col">Pick_Date</th>
                                <th scope="col">Pick_Time</th>
                                <th scope="col">Drop_Locate</th>
                                <th scope="col">Drop_Date</th>
                                <th scope="col">Drop_Time</th>
                                <th scope="col">BookingID</th>
                                <th scope="col">CarID</th>
                                <th scope="col">EmpID</th>
                                <th scope="col">Option</th>
                            </tr>
                            </thead>
                            <tbody id="tblbody">

                            </tbody >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------Payment Modal------------------------------------------------------------------------------>
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 80px">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="exampleModalLabel">Pay a Advance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
        <ul class="order_footer">
          <li>
            <span>Subtotal</span>
            <span>$29,30</span>
          </li>
          <li>
            <span>Delivery fee</span>
            <span>Free</span>
          </li>
          <li>
            <span>Total (Incl. VAT)</span>
            <span>$29,30</span>
          </li>
        </ul>
          <img src="../images/payment.png" class="rounded mx-auto d-block col-md-6" alt="" id="bankSlipImage" >
          <div class="btn-file btn btn-primary btn-sm m-1 w-25 " ><span>Upload</span><input type="file" id="bankSlip" name="bankslip"  accept="image/png, image/jpeg" >
          </div>
          <h6 style="color: gray ;font-size: 9px">Choose Advance payment  bank slip for accept your booking AccountNo:094753628300236 </h6>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary"><i class="fa fa fa-paypal"></i>Pay</button>
      </div>
    </div>
  </div>
</div>
<!----------------------------------------------------------------------------------------------------------------->

<script src="../jquery/jquery.min.js"></script>
<script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/owl.js"></script>
<script src="../js/slick.js"></script>
<script src="../js/isotope.js"></script>
<script src="../js/accordions.js"></script>
<script src="../js/temperyDB.js"></script>

<script type="text/javascript">
 // cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
  function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
      cleared[t.id] = 1;  // you could use true and false, but that's more typing
      t.value='';         // with more chance of typos
      t.style.color='#fff';
    }
  }
</script>
<script>

  $("#bankSlip").change(function () {
    let image = document.getElementById("bankSlipImage");
    let file = this.files[0];
    const  reader=new FileReader();
    reader.onload=function () {
      image.src= reader.result;
    }
    reader.readAsDataURL(file);
  });
</script>
<script>
  /*---------------Booking Details----------------*/
  $("#booking").click(function () {
    $("#tblbody").empty();
    $.ajax({
      url:"http://localhost:8080/BackEnd/booking/details",
      method: "Get",
      data: {
        customerNIC:queries[0]
      },
      async: true,
      success:function (response,status,xhr) {
        let no=1;
        for (let val of response) {
          let row=`<tr> <td>${no++}</td> <td>${val[0]}</td> <td>${val[1]}</td> <td>${val[2]}</td> <td>${val[3]}</td> <td>${val[4]}</td> <td>${val[5]}</td> <td>${val[6]}</td><td>${val[7]}</td> <td>${val[8]}</td>  <td class="btn-group " id="option">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#paymentModal"><i class="fa fa-paypal"></i> </button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                                </td> </tr>`;
          $("#tblbody").append(row);

        }
      }
    });

  });



</script>

<script>
  disableFields(true);
  function disableFields(val){
    $( "#username" ).prop( "disabled", val );
    $( "#password" ).prop( "disabled", val );
    $( "#phoneNumber" ).prop( "disabled", val );
    $( "#address" ).prop( "disabled", val );
    $( "#email" ).prop( "disabled", val );
  }

  var optionAccept = false;


  $("#profileCheck").change(function () {
    if (this.checked) {
      optionAccept=true;
      disableFields(false)
    } else {
      optionAccept=false;
      disableFields(true)
      }

  });


/*  $("#update_btn").click(function () {
    let nic = $("#nic").val();
    let val1 = $( "#username" ).val();
    let val2 = $( "#password" ).val();
    let val3 = $( "#phoneNumber" ).val();
    let val4 = $( "#address" ).val();
    let val5 = $( "#email" ).val();
      if(accept){
        $.ajax({
         url:"",
         method: "PUT",
         async: true,
         contentType:"application/json",
         success:function (response,status,xhr) {

         }

        });
      }else {

      }


  });*/

  /*------------------------------------------------------------------------*/
  var queryString = decodeURIComponent(window.location.search);
  if(queryString.trim().length!=null){

    queryString = queryString.substring(1);
    var queries = queryString.split("&");



    $.ajax({
      url:"http://localhost:8080/BackEnd/customer/find",
      method: "POST",
      contentType:"application/x-www-form-urlencoded",
      async: true,
      data: {
        nic: queries[0],
        password:queries[1]
      },
      success:function (response,status,xhr) {

        if(response.customerNIC!=null) {
          $("#nic").val(response.customerNIC);
          $("#username").val(response.username);
          $("#password").val(response.password);
          $("#phoneNumber").val(response.phoneNumber);
          $("#address").val(response.address);
          $("#email").val(response.email);
          $(".ModalUserName").text("Hi! "+response.username);

          $(".Userfunction").css({
            'pointer-events':'all',

          });
        }else {
          $(".Userfunction").css({
            'pointer-events':'none',

          });
        }


        }
    });
  }

</script>
<script>


  $("#logOut").click(function () {
    let conformation = confirm("Ary you sure log Out this page?");
    if(conformation){
      let url_origin=window.location.origin;
      document.location.href =
              url_origin+"/FontEnd/lk/car/rent/view/login.html"+"?CHome&PHome";

    }

  });
</script>
<script>

  $('.nav-item > a').click(function(e){
    e.preventDefault(); // cancel click
    let page = $(this).attr('href');
    console.log(page)
    $('#page').load(page);
  });
</script>

</body>

</html>
